@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;

}

:root{
        --cor-primaria: #9A0002;
        --cor-secundaria: #EFE6DE;
}

html {
    background-color:  var(--cor-secundaria);
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
}

main {
    background-color: var(--cor-primaria);

    padding: 80px;
}
