@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;

}

:root{
        --cor-primaria: #9A0002;
        --cor-secundaria: #EFE6DE;
}

html {
    background-color:  var(--cor-secundaria);
}

body {
    display: grid;

    place-items: center;

    min-height: 100vh;

    margin: 0;
}

main {
    background-color: var(--cor-primaria);

    padding: 20px 20px;

    border-radius: 20px;
}

#divimg {
    background-image: url(../imagens/background02.jpg);

    height: 20vh;
    width: 60vw;

    border-radius: 10px 10px 0px 0px;
}

#divlogin {
    background-color: var(--cor-secundaria);

    padding: 20px 20px;

    border-radius: 0px 0px 10px 10px;
}

main > div > h1 {
    text-align: center;

    font-variant: all-small-caps;

    color: var(--cor-primaria);

    padding-top: 10px;
    padding-bottom: 10px;
}
.campoLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    color: var(--cor-primaria);
}

.campoSenha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lemb {
    font-variant: all-small-caps;

    font-size: 12px;

}

#idlembrar {
    margin-top: 20px;
}

.esq {
    text-decoration: none;

    margin-top: 10px;

    border: none;

    font-variant: all-small-caps;
    font-size: 16px;
    font-weight: bold;

    color: var(--cor-primaria);

    padding: 3px 6px;

    border-radius: 5px;
    
    cursor: pointer;
    
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    transition: all 0.3s ease;
}

button {
    display: block;
    margin: 20px auto;

    background-color: var(--cor-secundaria);

    font-variant: all-small-caps;
    font-size: 16px;
    font-weight: bold;

    color: var(--cor-primaria);

    border: none;

    padding: 12px 24px;

    border-radius: 12px;
    
    cursor: pointer;
    
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    transition: all 0.3s ease;
}






